[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/selinux"]
	path = cookbooks/selinux
	url = https://github.com/opscode-cookbooks/selinux.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/openssh"]
	path = cookbooks/openssh
	url = https://github.com/opscode-cookbooks/openssh.git
[submodule "cookbooks/ntp"]
	path = cookbooks/ntp
	url = https://github.com/opscode-cookbooks/ntp.git
[submodule "cookbooks/nova"]
	path = cookbooks/nova
	url = https://github.com/rcbops-cookbooks/nova.git
[submodule "cookbooks/keystone"]
	path = cookbooks/keystone
	url = https://github.com/rcbops-cookbooks/keystone.git
[submodule "cookbooks/glance"]
	path = cookbooks/glance
	url = https://github.com/rcbops-cookbooks/glance.git
[submodule "cookbooks/horizon"]
	path = cookbooks/horizon
	url = https://github.com/rcbops-cookbooks/horizon.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/xfs"]
	path = cookbooks/xfs
	url = https://github.com/opscode-cookbooks/xfs.git
[submodule "cookbooks/rabbitmq"]
	path = cookbooks/rabbitmq
	url = https://github.com/rcbops-cookbooks/rabbitmq.git
[submodule "cookbooks/swift"]
	path = cookbooks/swift
	url = https://github.com/rcbops-cookbooks/swift.git
[submodule "cookbooks/osops-utils"]
	path = cookbooks/osops-utils
	url = https://github.com/rcbops-cookbooks/osops-utils.git
[submodule "cookbooks/dsh"]
	path = cookbooks/dsh
	url = https://github.com/rcbops-cookbooks/dsh.git
[submodule "cookbooks/exerstack"]
	path = cookbooks/exerstack
	url = https://github.com/rcbops-cookbooks/exerstack.git
[submodule "cookbooks/kong"]
	path = cookbooks/kong
	url = https://github.com/rcbops-cookbooks/kong.git
[submodule "cookbooks/collectd"]
	path = cookbooks/collectd
	url = https://github.com/rcbops-cookbooks/collectd.git
[submodule "cookbooks/collectd-plugins"]
	path = cookbooks/collectd-plugins
	url = https://github.com/rcbops-cookbooks/collectd-plugins.git
[submodule "cookbooks/monit"]
	path = cookbooks/monit
	url = https://github.com/rcbops-cookbooks/monit.git
[submodule "cookbooks/graphite"]
	path = cookbooks/graphite
	url = https://github.com/rcbops-cookbooks/graphite.git
[submodule "cookbooks/collectd-graphite"]
	path = cookbooks/collectd-graphite
	url = https://github.com/rcbops-cookbooks/collectd-graphite.git
[submodule "cookbooks/rsyslog"]
	path = cookbooks/rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog.git
[submodule "cookbooks/modules"]
	path = cookbooks/modules
	url = https://github.com/rcbops-cookbooks/modules.git
[submodule "cookbooks/sysctl"]
	path = cookbooks/sysctl
	url = https://github.com/rcbops-cookbooks/sysctl.git
[submodule "cookbooks/hardware"]
	path = cookbooks/hardware
	url = https://github.com/rcbops-cookbooks/hardware
[submodule "cookbooks/monitoring"]
	path = cookbooks/monitoring
	url = https://github.com/rcbops-cookbooks/monitoring.git
[submodule "cookbooks/sosreport"]
	path = cookbooks/sosreport
	url = https://github.com/rcbops-cookbooks/sosreport.git
[submodule "cookbooks/rabbitmq-openstack"]
	path = cookbooks/rabbitmq-openstack
	url = https://github.com/rcbops-cookbooks/rabbitmq-openstack.git
[submodule "cookbooks/mysql-openstack"]
	path = cookbooks/mysql-openstack
	url = https://github.com/rcbops-cookbooks/mysql-openstack.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/cinder"]
	path = cookbooks/cinder
	url = https://github.com/rcbops-cookbooks/cinder.git
[submodule "cookbooks/haproxy"]
	path = cookbooks/haproxy
	url = https://github.com/rcbops-cookbooks/haproxy.git
[submodule "cookbooks/nova-network"]
	path = cookbooks/nova-network
	url = https://github.com/rcbops-cookbooks/nova-network.git
[submodule "cookbooks/keepalived"]
	path = cookbooks/keepalived
	url = https://github.com/rcbops-cookbooks/keepalived.git
[submodule "cookbooks/openstack-ha"]
	path = cookbooks/openstack-ha
	url = https://github.com/rcbops-cookbooks/openstack-ha.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = https://github.com/opscode-cookbooks/memcached.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/tempest"]
	path = cookbooks/tempest
	url = https://github.com/rcbops-cookbooks/tempest.git
[submodule "cookbooks/openstack-logging"]
	path = cookbooks/openstack-logging
	url = https://github.com/rcbops-cookbooks/openstack-logging.git
[submodule "cookbooks/ceilometer"]
	path = cookbooks/ceilometer
	url = https://github.com/rcbops-cookbooks/ceilometer.git
[submodule "cookbooks/openstack-monitoring"]
	path = cookbooks/openstack-monitoring
	url = https://github.com/rcbops-cookbooks/openstack-monitoring.git
[submodule "cookbooks/memcached-openstack"]
	path = cookbooks/memcached-openstack
	url = https://github.com/rcbops-cookbooks/memcached-openstack.git
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables.git
[submodule "cookbooks/heat"]
	path = cookbooks/heat
	url = https://github.com/rcbops-cookbooks/heat.git
[submodule "cookbooks/swift-lite"]
	path = cookbooks/swift-lite
	url = https://github.com/rcbops-cookbooks/swift-lite.git
[submodule "cookbooks/swift-private-cloud"]
	path = cookbooks/swift-private-cloud
	url = https://github.com/rcbops-cookbooks/swift-private-cloud.git
[submodule "cookbooks/ceph"]
	path = cookbooks/ceph
	url = https://github.com/ceph/ceph-cookbooks
