[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/selinux"]
	path = cookbooks/selinux
	url = https://github.com/opscode-cookbooks/selinux.git
[submodule "cookbooks/rabbitmq"]
	path = cookbooks/rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
